.home-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
}

.home-left {
  flex: 1;
}

.home-left h1 {
  font-size: 2.7rem;
  color:black;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home-left b{
  justify-content: center;
  color : black;
  font-size: 30px;
}

.home-left p {
  font-size: 1.2rem;
  color: black;
}
